.heading{
    text-align: center;
    font-family: jokerman;
    font-size: 2.5em;
}

body{
    background-image: url(images/finalbg.jpg);
    background-size: cover;
}

.content{
    text-align: center;
    color:black;
    margin: 5% 20%;
    padding: 5%;
    border: 2px solid black;
    background-color:white;
    background-size: cover;
    font-size: 1.25em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}

.pink{
    background-color: #ffb3bf;
}

.yellow{
    background-color: #e6e600;
}

.f00ff0{
    background-color: #f00ff0;
}

.aqua{
    background-color: #00e6e6;
}

.red{
    background-color: red;
}

.yellowgreen{
    background-color: yellowgreen;
}

.violet{
    background-color: violet;
}

.lime{
    background-color: lime;
}

.teal{
    background-color: teal;
}